@font-face {
  font-family: "Ruluko";
  src: url("../fonts/Ruluko-Regular.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --viridian-green: #129490;
  --metallic-seaweed: #087e8b;
  --medium-violet-red: #ce1483;
  --cadet: #546a76;
}

body {
  font-family: "Ruluko", Verdana, sans-serif;
}
