@font-face {
  font-family: "Ruluko";
  src: url("../fonts/Ruluko-Regular.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* remove the border, just for practice */
  border: 1px dashed;
}

:root {
  --viridian-green: #129490;
  --metallic-seaweed: #087e8b;
  --medium-violet-red: #ce1483;
  --cadet: #546a76;
}

body {
  font-family: "Ruluko";
}

header {
  background: linear-gradient(skyblue, lightblue, white);
  text-align: center;
  padding: 0.7rem;
  /* change grid layout to fit avatar better */
  display: grid;
  grid-template-columns: 1fr 2fr;
}

h1 {
  color: rgba(77, 77, 77, 0.7);
  padding: 0.7rem;
}

h2 {
  padding-left: 0.7rem;
}

.header-image {
  border-radius: 50%;
  height: auto;
  max-width: 70%;
}
nav {
  padding: 0.7rem;
  grid-column: span 2;
}

a[href^="#"] {
  padding: 0 10px 0 10px;
}
a {
  text-decoration: none;
  color: teal;
}

a:visited {
  color: rgba(77, 77, 77, 0.7);
}

a:hover {
  font-weight: bold;
  text-shadow: 0 0 0.77px grey;
  cursor: pointer;
}

.Vancouver {
  height: 7rem;
  object-fit: cover;
  object-position: 50% 70%;
  border-radius: 7px;
}

footer {
  padding: 0.7rem;
}
h3 {
  display: block;
  color: white;
  background-color: lightsteelblue;
}
.logo {
  height: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  filter: grayscale(100%) saturate(200%);
}
.last {
  margin-top: 0.7rem;
}
