main h2 {
  padding: 0.2rem 0 0.2rem 0.7rem;
  background-color: var(--metallic-seaweed);
  color: white;
}

.about-me__container {
  display: grid;
  grid-template-columns: 7fr, 1fr;
  grid-template-areas:
    "me one"
    "me two"
    "me three"
    "me four"
    "me five";
}

.about-me__container article {
  border: 1px solid var(--metallic-seaweed);
  height: 350px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0.7rem;
  grid-area: me;
}

.one,
.two,
.three,
.four,
.five {
  margin: 0.7rem;
}
.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.logo {
  height: 45px;
  filter: grayscale(100%) saturate(200%);
  padding: 0.2rem;
  border: solid 1px var(--metallic-seaweed);
}

.logo a {
  text-decoration: none;
}

article p {
  padding: 0.7rem;
  align-items: center;
}

.blog-post__container {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: space-around;
  align-items: space-between;
}

.blog-post {
  height: 8rem;
  width: 8rem;
  text-align: center;
  background-color: lightgray;
  border: 1px solid var(--metallic-seaweed);
  border-radius: 5%;
  padding: 7px;
  margin: 7px;
}

.blog-post a {
  text-decoration: none;
  color: var(--metallic-seaweed);
  font-weight: bold;
}

.blog-post a:hover {
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 5.77px white;
  cursor: pointer;
}

.darkMode {
  background-color: black;
  color: white;
}
