h2 {
  padding: 0.2rem 0 0.2rem 0.7rem;
  background-color: var(--metallic-seaweed);
  color: white;
}

article {
  border: 1px solid var(--metallic-seaweed);
  height: 7rem;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0.7rem;
}

article p {
  padding: 0.7rem;
  align-items: center;
}

.blog-post__container {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: space-between;
}

.blog-post {
  height: 7rem;
  width: 7rem;
  text-align: center;
  background-color: lightgray;
  border: 2px solid var(--metallic-seaweed);
  border-radius: 5%;
  padding: 7px;
  margin: 7px;
}

.blog-post a {
  text-decoration: none;
  color: var(--metallic-seaweed);
  font-weight: bold;
}

.blog-post a:hover {
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 5.77px white;
  cursor: pointer;
}

.darkMode {
  background-color: black;
  color: white;
}
